.container{
    background-color: wheat;
    display: flex;
    width: 300px;
    height:440px;
    flex-wrap: wrap;
}

.container1{
    display: flex;
    flex-wrap: wrap;

}

#result{
    width: 100%;
    height:65px;
    background-color: dimgray;
    text-align: right;
    color: white;
}

.bouton,.boutn{
    background-color: slategrey;
    color: white;
    height:60px;
    width: 100%;
    border-radius: 10px;
}

.plus,.moins,.fois,.diviser,.AC,.fleche,.egal,.point,.plusmoins{
    width: 23%;
    background-color: beige;
    color: black;
}

.sept,.huit,.neuf,.egal{
    width: 23%;
}

.quatre,.cinq,.six,.un,.deux,.trois,.zero,.point,.AC,.fleche,.plusmoins{
    width: 23%;
}

.egal{
    height:60px;
    background-color: orange;
    width:200px;
}

